# Veritabanı
DB_HOST=postgres
DB_PORT=5432
DB_NAME=tpm
DB_USER=tpm
DB_PASSWORD=strong_pass

# JWT
JWT_SECRET=very_strong_password

# Tengine
TENGINE_CONF_DIR=/etc/tengine/conf.d
TENGINE_BIN=/usr/sbin/tengine
